<footer [dir]="direction" class="p-5">
  <div class="container-md p-2">
    <div class="row border-bottom py-4">
      <div class="col-md-6">
        <div class="p-2">
          <h6>{{'footer.name' | translate}}</h6>
          <P>{{'footer.title' | translate}}</P>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-2">
          <h6>{{'footer.social' | translate}}</h6>
          <ul class="ps-0 d-flex justify-content-start align-items-start">
            <li>
              <a href="https://www.linkedin.com/in/kareem-emad-407822297/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin-in"></i></a>
            </li>
            <li class="mx-3">
              <a href="https://github.com/kareemem" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a>
            </li>
            <li>
              <a href="https://mail.google.com/mail/?view=cm&fs=1&to=emadkareem987@gmail.com" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-envelope"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="py-3">
      <p class="text-center footerTitle">{{'footer.footTitle' | translate}} <span> {{'footer.name' | translate}}</span></p>
    </div>
  </div>
</footer>
