#about{
  background-color: #FAFAFA;
}
#about h2{
  font-size: 2.625rem;
  font-weight: 700;
  color: var(--secondary-color);
  letter-spacing: .1875rem;
}
#about .title {
  font-size: 1.3125rem;
  font-weight: 500;
  color: var(--main-title);
}

#about h2::after{
  content: '';
  width: 3.125rem;
  height: .3125rem;
  background-color: var(--main-color);
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

#about h3{
  font-size: 1.8125rem;
  font-weight: 700;
  color: black;
}

#about p{
  font-size: 1.1875rem;
  font-weight: 400;
  color: var(--secondary-title);
}

#about p span{
  font-weight: 700;
}

#about p a{
  font-weight: 700;
  color: var(--main-color);
}

#about h5{
  font-size: 1.375rem;
  color: #000000e3;
}

#about ul li{
  font-size: 1.1875rem;
  color: var(--secondary-title);
  list-style-type: none;
}

#about ul li i{
  color: var(--main-color);
  font-weight: 700;
  font-size: 1.375rem;
}



@media only screen and (max-width: 768px) {
  #about h2{
    font-size: 1.875rem;
  }
  #about .title{
    font-size: 1.125rem;
  }
  #about h3{
    font-size: 1.375rem;
  }
  #about p{
    font-size: 1rem;
  }
  #about ul li{
    font-size: 1rem;
  }

}
