<section [dir]="direction" id="about" class="p-3">
  <div class="container-md mt-5">
    <h2 class="text-center pt-5 position-relative">{{'about.h2' | translate}}</h2>
    <p class="text-center title mt-3">{{'about.title' | translate}}</p>
    <div class="row mt-5">
      <div class="col-md-6">
        <div class="p-2">
          <h3 class="mb-4">
            {{'about.know' | translate}}
          </h3>
          <div>
            <p>
              {{'about.iamOnePartOne' | translate}} <span> {{'about.iamOnePartTwo' | translate}} </span> {{'about.iamOnePartThree' | translate}}
            </p>
            <p>
              {{'about.iamTwoPartOne' | translate}} <span> {{'about.iamTwoPartTwo' | translate}} </span> {{'about.iamTwoPartThree' | translate}}  <a href="https://www.linkedin.com/in/kareem-emad-407822297/" target="_blank" rel="noopener noreferrer">{{'about.iamTwoPartFour' | translate}}</a>{{'about.iamTwoPartFive' | translate}}
            </p>
            <p>
              {{'about.iamThree' | translate}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="p-2">
          <h3 class="mb-4">{{'about.skills' | translate}}</h3>
          <div class="row g-5">
            <div class="col-md-6">
              <h5>Languages</h5>
              <ul>
                <li><span class="me-2"><i class="fa-solid fa-check"></i></span> HTML5</li>
                <li><span class="me-2"><i class="fa-solid fa-check"></i></span> CSS3</li>
                <li><span class="me-2"><i class="fa-solid fa-check"></i></span> JavaScript</li>
                <li><span class="me-2"><i class="fa-solid fa-check"></i></span> TypeScript</li>
                <li><span class="me-2"><i class="fa-solid fa-check"></i></span> ECMAScript</li>
              </ul>
            </div>
            <div class="col-md-6">
              <h5>CSS Preprocessors</h5>
              <ul>
                <li><span class="me-2"><i class="fa-solid fa-check"></i></span> SASS</li>
              </ul>
            </div>
            <div class="col-md-6">
              <h5>Frontend Frameworks
              </h5>
              <ul>
                <li><span class="me-2"><i class="fa-solid fa-check"></i></span> Angular</li>
                <li><span class="me-2"><i class="fa-solid fa-check"></i></span> Angular Material
                </li>
                <li><span class="me-2"><i class="fa-solid fa-check"></i></span> JQuery</li>
                <li><span class="me-2"><i class="fa-solid fa-check"></i></span> RxJS</li>
              </ul>
            </div>
            <div class="col-md-6">
              <h5>
                UI Components/Plugins
              </h5>
              <ul>
                <li><span class="me-2"><i class="fa-solid fa-check"></i></span>
                  Owl Carousel
                </li>
                <li><span class="me-2"><i class="fa-solid fa-check"></i></span>
                  WOW.js
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <h5>
                Responsive Design
              </h5>
              <ul>
                <li><span class="me-2"><i class="fa-solid fa-check"></i></span> Bootstrap</li>
                <li><span class="me-2"><i class="fa-solid fa-check"></i></span> Responsive Web Design
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <h5>
                API
              </h5>
              <ul>
                <li><span class="me-2"><i class="fa-solid fa-check"></i></span>
                  API Integration
                </li>
                <li><span class="me-2"><i class="fa-solid fa-check"></i></span>
                  Performance Optimization
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <h5>Version Control
              </h5>
              <ul>
                <li><span class="me-2"><i class="fa-solid fa-check"></i></span> Git</li>
                <li><span class="me-2"><i class="fa-solid fa-check"></i></span> GitHub</li>
              </ul>
            </div>
            <div class="col-md-6">
              <h5>Build Tools
              </h5>
              <ul>
                <li><span class="me-2"><i class="fa-solid fa-check"></i></span> Babel</li>
                <li><span class="me-2"><i class="fa-solid fa-check"></i></span>
                  npm Scripts
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <h5>Programming Paradigms
              </h5>
              <ul>
                <li><span class="me-2"><i class="fa-solid fa-check"></i></span>
                  Object-Oriented Programming (OOP)
                </li>
                <li><span class="me-2"><i class="fa-solid fa-check"></i></span>
                  Clean Code
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <h5>Problem Solving
              </h5>
              <ul>
                <li><span class="me-2"><i class="fa-solid fa-check"></i></span> Debugging</li>
                <li><span class="me-2"><i class="fa-solid fa-check"></i></span> Troubleshooting</li>
                <li><span class="me-2"><i class="fa-solid fa-check"></i></span>
                  Logical Thinking
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
