img {
  width: 4.6875rem;
  height: 4.6875rem;
}
.navbar-brand span{
  font-size: 1.1875rem;
  font-weight: 700;
  letter-spacing: .0625rem;
  transition: color 0.3s ease;
}

.navbar-brand:hover span{
  color: var(--main-color);
}

nav ul li {
  font-size: 1.0625rem;
  font-weight: 700;
  letter-spacing: .0625rem;
  cursor: pointer;
}
nav ul li a{
  columns: var(--main-title);
  transition: color 0.3s ease;

}
nav ul li a:hover{
  color: var(--main-color);
}
nav{
    background-color: #eeeeee  !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.09);
  transition: box-shadow 0.3s ease, background-color 0.3s ease;
  z-index: 999;
}
.navbar-toggler {
  border: 1px solid var(--main-color) !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}
